.faq{
    background-color: var(--background);
}
.styles_faq-row-wrapper__3vA1D{
    background-color: var(--background) !important;
}
div.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c{
    padding: 0;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-content__QOGZd .styles_row-content-text__2sgAB,
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY .styles_icon-wrapper__2cftw
{
    color: var(--foreground) !important;
}

.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY{
    position: relative;
}
.styles_row-title__1YiiY::before{
    content: "";
    background: linear-gradient(to right, transparent 15%, rgb(141, 255, 168), #E1FF31);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
}
.styles_row-title__1YiiY:hover:before,
.styles_row-title__1YiiY:focus:before{
    transition: width 0.6s cubic-bezier(0.47, 0.18, 0, 1.28);
    width: 100%;
}

/* .styles_row-title__1YiiY:focus::before{
    width: 100%;
} */

.styles_faq-row__2YF3c:hover .styles_row-title__1YiiY::before{
    transition: width 0.4s ease;
    width: 100%;
}

.faq-row{
    padding: 0 0 0 0 !important;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

/* .faq-icon{
    padding: 5px 10px;
    background-color: greenyellow;
    border-radius: 100px;
} */

.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY .styles_icon-wrapper__2cftw {
    padding: 5px 10px !important;
    background-color: #61bebe;
    border-radius: 50%;
}

div.styles_faq-row-wrapper__3vA1D h2{
    text-align: center;
    font-size: 32px;
    color: bisque;
    background-image: linear-gradient(155deg, #34755d, #30ba4f);
    padding: 20px;
    flex-grow: 1;
}
