html {
    height: 100%;
    width: 100%;
  }

 
  .img-slider-container{
    background-color: var(--img-slider);
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
  }
 
  #slider{
    position: relative;
    width: 750px;
    height: 400px;
    overflow: hidden;
    /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);*/
    border: 5px solid black;
    border-radius: 30px;
    
    margin-top: 20px;
    padding-top: auto;
  }
  #slider ul{
    position: relative;
    list-style:none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li{
    position: relative;
    height: 100%;
    float: left;
  }
  #slider ul li img{
    width: 750px;
    height: 400px;
  }
  
  #slider #prev, #slider #next{
    width: 50px;
    line-height: 50px;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
  
  #slider  #prev{
    position: absolute;
    left: 10px;
  }
  #slider #next{
    position: absolute;
    right: 10px;
  }
  
  #slider #prev:hover, #slider #next:hover{
    background-color: rgba(128, 122, 122, 0.6);
    backdrop-filter: blur(10px);
  }

  section.article-card{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    /* margin-bottom: 100px; */ 
  }
  .rm-card{
    width: 300px;
    background-color: #edeece;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    transition: all 0.4s;
  }
  .rm-card:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .rm-card img{
    width: 100%;
    height:auto;
  }
  .card-info{
    padding: 16px;
  }
  
  .card-info h3{
    font-size: 30px;
    margin-bottom: 8px;
  }
  .card-info p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 8px;
  }
  .card-info p.sub-heading{
    color: #4c4848;
    text-decoration:underline;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 4px;
  }
  .card-info a{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 5%;
    margin-top: 16px;
    color: white;
  }
  .card-info a:hover{
  background-color: #878282;
  }

  /* .rm-card:hover{
    
  } */