.loading-page{
    height: 100vh;
}
.loading-animation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    perspective: 1000px;
}
.loading-animation-container .cube-pos{
    height: 400px;
    width: 400px;
    position: relative;
    transform-style: preserve-3d;
    animation: ROTATE-CUBE 20s infinite linear;
}

.loadbox1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: cyan; */
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateZ(200px);
}
.loadbox2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateZ(-200px);
}
.loadbox3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(200px) rotateY(-90deg);
}
.loadbox4{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: royalblue; */
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(-200px) rotateY(-90deg);
}
.loadbox5{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gold; */
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(-200px) rotateX(90deg);
}
.loadbox6{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: magenta; */
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(200px) rotateX(90deg);
}

@keyframes ROTATE-CUBE{
    0%{transform: rotateX(45deg) rotateY(45deg) ;}
    25%{transform: rotateX(-45deg) rotateY(45deg) ;}
    50%{transform: rotateX(-45deg) rotateY(-45deg) ;}
    75%{transform: rotateX(45deg) rotateY(-45deg) ;}
    100%{transform: rotateX(45deg) rotateY(45deg) ;}
}

.cube-pos .loadbox1 img,
.cube-pos .loadbox2 img{
    animation: spin-i 4s infinite linear;
}

/* .cube-pos .loadbox3 img,
.cube-pos .loadbox4 img{
    animation: spin-j 8s infinite ease;
} */
/* @keyframes spin-i{
    0%{transform: rotateX(45deg) rotateY(45deg) ;}
    25%{transform: rotateX(-45deg) rotateY(45deg) ;}
    50%{transform: rotateX(-45deg) rotateY(-45deg) ;}
    75%{transform: rotateX(45deg) rotateY(-45deg) ;}
    100%{transform: rotateX(45deg) rotateY(45deg) ;}
} */
@keyframes spin-i{
    100%{transform: rotate(360deg) ;}
}
@keyframes spin-j{
    100%{transform: rotate(360deg) ;}
}
/* @-moz-keyframes spin-i{
    100%{transform: rotate(360deg) ;}
}
@-moz-keyframes spin-j{
    100%{transform: rotate(360deg) ;}
}
@-webkit-keyframes spin-i{
    100%{-webkit-transform: rotate(360deg) ;}
}
@-webkit-keyframes spin-j{
    100%{-webkit-transform: rotate(360deg) ;}
} */

.ellipsis{
    display: inline-block;
}
.ellipsis:nth-child(1){
    animation: preloader 0.6s ease-in-out alternate infinite;
}
.ellipsis:nth-child(2){
    animation: preloader 0.6s ease-in-out alternate 0.2s infinite;

}
.ellipsis:nth-child(3){
    animation: preloader 0.6s ease-in-out alternate 0.4s infinite;

}
@keyframes preloader{
    75%{
        color: rgb(0, 255, 132); 
    }
    100%{
        transform: scale(2);
        color: rgb(0, 255, 132);
        opacity: 0;
    }
}