.notFound-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
  /* min-height: 100vh; */
}
.fof-message{
  font-family: monument, sans-serif;
  line-height: 1.6;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
}
h2{
  align-self: start;
}
.four04-title{
  font-size: 256px;
  color: #04aa6d;
  /* transition: all 5s linear ; */
  position: relative;
  margin-bottom: 0px;
}
/* .four04-title::after{
  content: "404";
  font-size: 256px;
  color: magenta;
  transition: all 5s linear ;
  position: absolute;
  
}
.four04-title::before{
  content: "404";
  font-size: 256px;
  color: yellow;
  transition: all 5s linear ;
  position: absolute;
  opacity: 0.5;
} */

/* .four04-title2{
  position: absolute;
} */
/* .four04-title:hover{
  transform: translateZ(500px) scale(5);
  opacity: 0;
} */
a{
  text-decoration: none;
  color: var(--foreground);
}

.bubble-btn {
  font-family: sans-serif;
  font-size: 24px;
  /* color: #fff; */
  color: #000000;

  background-color: black;
  background-color: #e9ed7b;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
}
.bubble-btn:hover {
  opacity: 1;
}
.bubble-btn span{
  position: relative;
  z-index: 3;
  transition-delay: 0.3s;
}
  
.circle{
  height: 65px;
  width: 65px;
  /* background-color: #fff; */
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transition: transform 0.5s ease;
  cursor: pointer;
}
  .stylised-bubble-btn{
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    margin-bottom: 30px;
  }
  .circle1{
    top: -75px;
    left:-35px;
  }
  .circle2{
    top: -75px;
    left:90px;
  }
  .circle3{
    top: -75px;
    left: 220px;
  }
  .circle4{
    bottom: -75px;
    left:-35px;
  }
  .circle5{
    bottom: -75px;
    left:90px;
  }
  .circle6{
    bottom: -75px;
    left: 220px;
  }
  
  .bubble-btn:hover .circle1{
    top: -5px;
    left: 0px;
    transform: translateY(-50px);
  
  }
  
  .stylised-bubble-btn:hover .circle1{
    transform: translateY(50px) translateX(42px) scale(1.5);
  }
  .stylised-bubble-btn:hover .circle4{
    transform: translateY(-50px) translateX(42px) scale(1.4);
  }
  
  .stylised-bubble-btn:hover .circle3{
    transform: translateY(50px) translateX(-45px) scale(1.4);
  }
  .stylised-bubble-btn:hover .circle6{
    transform: translateY(-50px) translateX(-45px) scale(1.4);
  }
  
  .stylised-bubble-btn:hover .circle2{
    transform: translateY(50px) scale(1.6);
  }
  .stylised-bubble-btn:hover .circle5{
    transform: translateY(-50px) scale(1.6);
  }
  
.stylised-bubble-btn:hover span,
.bubble-btn:hover span{
  color: black;
}


.stylised-bubble-btn:active .circle{
  background-color: rgb(189, 255, 89);
}

.fof{
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 50px 0px;
}