.product-item{
    display: inline-block;
    background-color: #e1efe4;
    background-color: #ffffff;
    width: 300px;
    /* max-width: calc(33.33% - 20px); */
    padding: 15px 0 0;
    user-select: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .12);
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.product-item-container{
    padding: 10px;
}
.product-details{
    text-align: center;
}
.product-details h1{
    font-size: 20px;
    margin: 10px 0;
    margin: 0;
    height: 40px;
    color: black;
    /* text-align: left; */
}
.product-details p{
    margin-bottom: 3px;
    line-height: 1.5;
}
.product-img{
    align-items: center;
    display: flex;
    height: 190px;
    justify-content: center;
}
.product-img img{
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}
.product-name{
    cursor: pointer;
}
.product-item div span{
    padding: 0 5px;
    background-color: #bfc1c5;
    border-radius: 2px;
    color: #000;
    pointer-events: none;
    box-shadow: 2px 3px 0 0 white, 4px 5px 0 0 #bfc1c5;
}

.product-type{
    line-height: 20px;
    padding: 4px 4px 8px;
}
.product-prices{
    align-items: center;
    display: flex;
    margin-top: 12px;
}
.product-prices p{
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    width: 80%;
    text-align: left;
}

.product-subtitle{
    font-size: 14px;
    font-weight: 300;
    height: 16px;
    line-height: 16px;
    text-align: left;
}
.product-subtitle-text{
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: #4d4d4d;
}
.basket-icon{ 
    cursor: pointer;
}
.basket-icon svg{
    background-color: rgb(15, 197, 136);
    padding: 10px;
    border-radius: 50%;
    transition: all 0.8s ease;
}
.basket-icon svg:hover{
    transform: scale(1.05);
    background-color: rgb(24, 164, 117);
}

button.react-multiple-carousel__arrow{
    width: auto;
}
button{
    width: auto;
}
.react-multi-carousel-item {
    display: flex;
    justify-content: center;
}

.react-multi-carousel-list {
    padding: 20px 0;
}

.pc-cta{
    background-color: rgb(49, 200, 165);
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    font-family: inherit;
    cursor: pointer;
    border: none;
    margin: 0;
    transition: all 0.2s ease;
}
.pc-cta:hover{
    opacity: 1;
    background-color: rgb(60, 215, 175);

}

.product-item .outerfavi{
    animation: none;
}
.product-item .favi-container{
    position: absolute;
    right: -15%;
    bottom: 5%;
    transform: scale(3);
    z-index: -1;
}
.react-multi-carousel-track .react-multiple-carousel__arrow, .react-multiple-carousel__arrow{
    z-index: 2 !important;
}