/* This root if affecting the css of the other pages and the footer but i can't seem to find a way to make the form centered without putting the align-items in the root*/

/* #root {
  display: flex;
  align-items: center;
  flex-direction: column;
} */
.sell-item-page-container{
  width: 100%;
  display: flex;
  justify-content: center;
  background: radial-gradient(50% 50% at 100% 0, var(--_g)), 
  radial-gradient(50% 50% at 0 100%, var(--_g)), 
  radial-gradient(50% 50%, var(--_g)), 
  radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2) var(--c1);
  background-size: var(--s) var(--s);
}
.sell-item-form-container {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin: 15px;
}

.sell-item-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: bisque;
  background-image: linear-gradient(155deg, #34755d, #30ba4f);
  padding: 20px;
}


/* Form Styling */
.sell-item-form .form-group {
  margin-bottom: 15px;
}

/* .sell-item-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  padding: 14px 0px;
} */

.sell-item-form .form-group input,
.sell-item-form .form-group select,
.sell-item-form .form-group textarea {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgb(230, 230, 244);
}

.sell-item-form .form-group textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit'].submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
.submit-button:hover:not(:disabled) {
  background-color: #218838;
  box-shadow: 6px 6px 0 0 wheat, 9px 9px 0 0 #4caf50;
  transform: translate(-3px, -3px);
  transition: 0.2s;
}
.submit-button:active:not(:disabled){
  box-shadow: none;
  transform: translate(9px,9px);
}

/* Popup Styling */
.popup {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popup-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #007bff; 
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.to-cart-btn{
  background-color: rgb(13, 212, 212); 
}

.popup-content button:hover {
  background-color: #0056b3;
}
button.to-cart-btn:hover{
  background-color: #025b3a;
  background-color: rgb(19, 150, 150); 
}

#imgsel-btn{
  display: inline-block;
  background-color: #218838;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  /* box-shadow: 2px 10px 25px rgba(0, 0, 0, 0.35); */
  border-radius: 5px;
  padding: 14px 20px;
  /*for textarea test*/
  height: fit-content;
}

#imgsel-btn:active{
  transform: scale(0.9);
}
#imgsel-btn:hover{
  background-color: #419653;
}
#imgsel-btn span{
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgsel-btn svg{
  font-size: 20px;
  margin-right: 10px;
}

.img-upload{
  display: flex;
  gap: 10px;
}
.form-group .img-upload input,
.form-group .img-upload textarea{
  width: auto;
  margin-bottom: 8px;
  border-style: hidden;
  border-radius: 0px;
  border-bottom: 2px solid green;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
}
/* .form-container .img-upload input{
  width: auto;
  margin-bottom: 8px;
} */

.price-input{
  position: relative;
}
 .d-block{
  display: block;
  margin-bottom: 20px;
 }

.iwitest {
  display: flex;
}
 .form-group .iwitest label.input-icontest{
  display: inline-block;
  margin: 0;
  background-color: #04aa6d;
  padding: 15px 15px;
  border-radius: 7px 0 0 7px;
 }

 .form-group .iwitest .price-inputtest{
  border-radius: 0 4px 4px 0;
  background-color: rgb(230, 230, 244);
  border: 2px solid transparent;
  border-left: none;
  transition: all 0.15s ease;
 }
.iwitest .price-inputtest:hover,
.iwitest .price-inputtest:focus{
  border-color: #04aa6d;
}


.form-group .img-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px dashed #1475cf; */
  border: 3px  dashed #0963b6;
  height: 285px;
  width: 475px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  color: black;
  cursor: pointer;
  border-radius: 6px;
}
.form-group .img-display:hover{
  border-color: #5ba5ea;
}
.form-group .img-display img{
  max-width: 450px;
  max-height: 240px;
  display: block;
}


.img-display span{
  font-weight: 600;
  font-size: 20px;
  user-select: none;
}
