@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* app.css */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

label {
  padding: 14px 20px;
  margin: 8px 0;
  size: 40px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.input-valid {
  background-color: #bfdbcd;
}

.input-invalid {
  background-color: rgb(199, 163, 163);
}

.error-message {
  color: red; /* Set text color to red */
  font-size: 14px; /* Adjust font size */
  margin-top: 4px; /* Add some space between input and error message */
  font-weight: bold;
}

.user-type-button {
  padding: 8px 16px; /* Add padding to the buttons */
  margin-right: 8px; /* Add margin between buttons */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 4px; /* Add border radius for rounded corners */
  /* background-color: #bfdbcd; */
}

.user-type-button:focus {
  outline: none; /* Remove focus outline */
}

.user-type-button.selected {
  background-color: #6ea86e; /* Green background for selected button */
  color: white; /* White text color for better visibility */
  font-weight: bold;
}

.required-fields {
  color: red;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
}

.popup-content {
  text-align: center;
}

.popup button {
  margin-top: 10px;
}

.nav-buttons {
  display: block;
  /*  display: inline-block;
*/
  width: auto;
  margin-right: 5px;
}

.nav button,
.Loginbutton {
  display: inline-block;
  border-radius: 300%;
  margin-right: 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.electronics_button {
  background-color: transparent;
  color: #000;
  width: fit-content;
}

.electronics-box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.electronics_img {
  width: 100%;
}

.electronic-iten {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

/*hides ckeckbox that is used to*/
#sidebar-active {
  display: none;
}
#account-active {
  display: none;
}
/*reminder to move gap space8*/
#footer {
  background-color: #edeece;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 25px;
}

#footer li {
  list-style: none;
  text-decoration: none;
}

#footer a {
  text-decoration: none;
  color: black;
  overflow: hidden;
}
* {
  margin: 0px;
}

.nav {
  background-color: #0d704c;
}
.nav ul {
  position: relative;
}
.nav ul li {
  list-style: none;
  position: relative;
  color: black;
}
.nav ul li a {
  text-decoration: none;
}
.nav ul ul {
  display: block;
  position: absolute;
}
html,
body {
  height: 100%;
  width: 100%;
}
#container {
  min-height: 100%;
  min-width: 100%;
}
#footer h2 {
  text-align: center;
}

.user-avatar {
  border-radius: 50%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

/* .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
} */

.basket-user-container:hover .dropdown-menu {
  display: block;
}

.logout-button {
  width: 80px;
}

.basket-user {
  display: flex;
  align-items: center;
  position: relative;
}

.fa-user {
  color: white;
  border-color: transparent;
  border-radius: 50%;
}
.fa-user:hover {
  color: rgb(83, 77, 77);
  border-color: white;
  cursor: pointer;
}

.fa-cart-shopping {
  color: white;
  border-color: white;
  border-radius: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.fa-cart-shopping:hover {
  color: rgb(83, 77, 77);
  border-color: white;
  cursor: pointer;
}
.fa-bars {
  color: white;
}
.fa-bars {
  color: white;
}
.fa-bars:hover {
  cursor: pointer;
}
.fa-xmark {
  color: black;
}
.side-menu .close-sidebar-button {
  cursor: pointer;
}
.side-menu .close-sidebar-button:hover {
  cursor: pointer;
}

.logo a {
  color: white;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
}

.logo {
  margin: 10px;
}
.searchbar {
  background-color: white;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 2px;
}
.searchbar .navsearchbar {
  margin: 0;
  border-style: hidden;
  width: 300px;
}
.searchbar .navsearchbar:focus {
  outline: none;
}

.searchbar button {
  /*background: none;*/
  border-radius: 0;
  width: 2rem;
  margin: 0;
}

.fa-search {
  color: #000;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  left: -100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  transition: 0.5s ease-out;
}
#sidebar-active:checked ~ .side-menu {
  display: flex;
}
.close-sidebar-button {
  color: white;
  align-self: center;
  background-color: black;
  width: 100%;
  font-size: 25px;
  font-weight: 20;
  padding-right: 0;
  padding-left: 0;
  margin-top: 14px;
  margin-bottom: 14px;
}
.sl li a {
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  font-size: 30px;
  text-decoration: none;
  color: #000;
}
.sl li:hover {
  width: 100%;

  background-color: rgb(25, 173, 8);
}
.sl li {
  margin-bottom: 15px;
  padding-bottom: 10px;
}
ul.sl {
  width: 100%;
  padding-left: 0;
}

.container button {
  border-radius: 0;
}


.dropdown-container {
	display: inline-block;
	padding: 10px;

	.dropdown {
		position: relative;

		&[open] .with-down-arrow::after {
			content: "\e5c7";
      background-color: #04aa6d;
		}

		&[open] summary {
			background: #ffffff10;
		}

		summary {
			list-style: none;
			display: inline-block;
			cursor: pointer;
			border-radius: 6px;

			&.avatar {
				border-radius: 50px;

				img {
					width: 40px;
					height: 40px;
					border-radius: 50px;
					display: inline-block;
					margin: 0;
				}
			}

			.with-down-arrow {
				display: inline-flex;
				padding: 5px;
				align-items: center;
				color: #fff;
				line-height: 1;

				&::after {
					content: "\e5c5";
					font-family: "Material Symbols Outlined";
					font-weight: normal;
					font-style: normal;
					font-size: 1.5rem;
					line-height: 1;
					letter-spacing: normal;
					text-transform: none;
					display: inline-block;
					white-space: nowrap;
					word-wrap: normal;
					direction: ltr;
					-webkit-font-smoothing: antialiased;
				}
			}
		}

		&.left ul {
			left: 0;
		}

		&.right ul {
			right: 0;
		}

		ul {
			padding: 0;
			margin: 0;
			box-shadow: 0 0 10px #00000030;
			min-width: max-content;
			position: absolute;
			top: 100%;
			border-radius: 10px;
			background-color: #fff;
			z-index: 2;

			li {
				list-style-type: none;
				display: block;
				/* If you use divider & borders, it's best to use top borders */
				/*border-top: 1px solid #ccc;*/

				&:first-of-type {
					border: none;
					background-color: lightgray;
				}

				p {
					padding: 10px 15px;
					margin: 0;
				}

				a {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					padding: 10px 15px;
					text-decoration: none;
					line-height: 1;
					color: black;

					&:hover {
						color: black;
					}
				}

				&:first-of-type {
					border-radius: 10px 10px 0 0;
				}

				&:last-of-type {
					border-radius: 0 0 10px 10px;
				}

				&.divider {
					border: none;
					border-bottom: 1px solid black;

					/* 
					 * removes border from Li after the divider element
					 * best used in combination with top borders on other LIs 
					 */
					& ~ li {
						border: none;
					}
				}
			}
		}
	}
}

.user-avatar-buttons{
  background-color: transparent;
}

.user-type-container{
  /* width: 100px; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}

.avatar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: row;
}

.user-avatar-select{
  border-radius: 50%;
  height: 60px;
}

@media (max-width: 650px){
  
  .logo a{
    font-weight: 600;
    font-size: 20px;
  }
  .searchbar .navsearchbar{
    margin: 0;
    border-style: hidden;
    width: 200px;
  }
  .nav button, .Loginbutton{
    display: none;
    
  }
  .nav ul {
    padding-left: 10px;
  }
  
}

/* Electronics Page */

.electronics {
  padding: 20px;
}

.electronics-box {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.electronic-item {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.electronics_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: all 0.6s;
}

.electronics_button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.electronics_info {
  padding: 20px;
}

.electronics_info p {
  margin: 8px 0;
}

.electronics_img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .electronic-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .electronic-item {
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .electronic-item {
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: auto;
  }
}

/* Electronics Device */

.electronic-device {
  text-align: center;
  margin: 5% auto 5% auto; 
  padding: 20px;
  max-width: 500px; 
  background-color: #f7f7f7; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.electronic-device img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.electronic-details {
  text-align: center;
}

.electronic-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.electronic-details h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.electronic-details p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #777;
  line-height: 1.5;
}

/*About us*/

.about-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.about-content {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.about-content h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.about-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.about-content a {
  color: #0073e6;
  text-decoration: none;
}

.about-content a:hover {
  text-decoration: underline;
}

.about-content .section {
  margin-top: 30px;
}

.about-content h3 {
  color: #333;
  font-size: 22px;
  margin-top: 20px;
}

.about-content h3 + p {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .about-content h2 {
      font-size: 24px;
  }
  
  .about-content p {
      font-size: 14px;
  }
  
  .about-content h3 {
      font-size: 18px;
  }
}

/*T&C*/


body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.terms-container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}

ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/*Support*/

.support-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.support-container h1 {
  text-align: center;
}

.support-container p {
  text-align: center;
  margin-bottom: 20px;
}

.support-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #45a049;
}

.about h2{
  margin-left: 40px;
}

.support h2{
  margin-left: 60px;
}

.legal h2{
  margin-right: 25px;
}


/* Basket item container */
.basket-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* Image */
.basket-item img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  margin-right: 20px;
}

/* Text content */
.basket-item p {
  margin: 0;
}

/* Price */
.basket-item .price {
  font-weight: bold;
  color: green;
}

/* Quantity */
.basket-item .quantity {
  margin-left: auto; /* Pushes quantity to the right */
}
