/* app.css */

body { font-family: Arial, Helvetica, sans-serif; }

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

label{
  padding: 14px 20px;
  margin: 8px 0;
  size: 40px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.input-valid {
  background-color: #bfdbcd;
}

.input-invalid {
  background-color: rgb(199, 163, 163);
}

.error-message {
  color: red; /* Set text color to red */
  font-size: 14px; /* Adjust font size */
  margin-top: 4px; /* Add some space between input and error message */
  font-weight: bold;
}


.user-type-button {
  padding: 8px 16px; /* Add padding to the buttons */
  margin-right: 8px; /* Add margin between buttons */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 4px; /* Add border radius for rounded corners */
  /* background-color: #bfdbcd; */
}

.user-type-button:focus {
  outline: none; /* Remove focus outline */
}

.user-type-button.selected {
  background-color: #6ea86e; /* Green background for selected button */
  color: white; /* White text color for better visibility */
  font-weight: bold;
}

.required-fields{
  color: red;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
}

.popup-content {
  text-align: center;
}

.popup button {
  margin-top: 10px;
}

.nav-buttons{
  display: block;
  /*  display: inline-block;
*/
  width: auto;
  margin-right: 5px;
}

.nav button, .Loginbutton{
  display: inline-block;
  border-radius: 300%;
  margin-right: 25px;
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 
}

.electronics_button{
  background-color: transparent;
  color: #000;
  width: fit-content;
}

.electronics-box{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.electronics_img{
  width: 100%;
}

.electronic-iten{
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

/*hides ckeckbox that is used to*/
#sidebar-active {
  display: none;
}
#account-active{
  display: none;
}
/*reminder to move gap space8*/
#footer{
  background-color: #edeece;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 25px;
}

#footer li {
  list-style: none;
  text-decoration: none;
}

#footer a {
  text-decoration: none;
  color: black;
  overflow: hidden;
}
*{
  margin: 0px;
}

.nav{
  background-color: #0d704c;
}
.nav ul{
  position: relative;
}
.nav ul li{
  list-style: none;
  position: relative;
  color: black;
}
.nav ul li a{
  text-decoration: none;
}
.nav ul ul{
  display: block;
  position: absolute;
  
}
html, body{
  height: 100%;
  width: 100%;
}
#container{
  min-height: 100%;
  min-width: 100%;
}
#footer h2{
  text-align: center;
}

.fa-user{
  color: white;
  border-color: transparent;
  border-radius: 50%;
}
.fa-user:hover{
  color: rgb(83, 77, 77);
  border-color: white;
  cursor: pointer;
}

.fa-cart-shopping{
  color: white;
  border-color: white;
  border-radius: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.fa-cart-shopping:hover{
  color: rgb(83, 77, 77);
  border-color: white;
  cursor: pointer;
}
.fa-bars{
  color: white; 
}
.fa-bars{
  color: white; 
}
.fa-bars:hover{
  cursor: pointer;
}
.fa-xmark{
  color: black;
}
.side-menu .close-sidebar-button{
  cursor: pointer;
}
.side-menu .close-sidebar-button:hover{
  cursor: pointer;
}

.logo a{
  color: white;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
}

.logo{
  margin: 10px;
}
.searchbar{
  background-color: white;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  
  
}
.searchbar .navsearchbar{
margin: 0;
border-style: hidden;
width: 300px;
}
.searchbar .navsearchbar:focus {
  outline: none;
}

.searchbar button{
  /*background: none;*/
  border-radius: 0;
  width: 2rem;
  margin: 0;
}

.fa-search{
  color: #000;
}

.side-menu{
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  left: -100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  transition: .5s ease-out;
}
#sidebar-active:checked~ .side-menu{
  display: flex;
}
.close-sidebar-button{
  color: white;
  align-self: center;
  background-color: black;
  width: 100%;
  font-size: 25px;
  font-weight: 20;
  padding-right: 0;
  padding-left: 0;
  margin-top: 14px;
  margin-bottom: 14px;
}
.sl li a{
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  font-size: 30px;
  text-decoration: none;
  color: #000;
}
.sl li:hover{
  width: 100%;

  background-color: rgb(25, 173, 8); 
}
.sl li{
  margin-bottom: 15px;
  padding-bottom: 10px;
}
ul.sl{
  
  width: 100%;
  padding-left: 0;
}

.container button{
  border-radius: 0;
}
@media (max-width: 650px){
  
  .logo a{
    font-weight: 600;
    font-size: 20px;
  }
  .searchbar .navsearchbar{
    margin: 0;
    border-style: hidden;
    width: 200px;
  }
  .nav button, .Loginbutton{
    display: none;
    
  }
  .nav ul {
    padding-left: 10px;
  }
  
}