@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* app.css */

body {
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --clr-green: #04aa6d;
  --footer: #edeece;
  --clr-light: #f5f5f5;
  --clr-dark: black;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --img-slider:rgb(15, 197, 136);
  --box-shad: rgba(0, 0, 0, 0.1);
  --clr-toggle: gray;
  --filters-container-background: #ffffff;
}

/* utility class used to apply darkmode */
.darkmode{
  --clr-dark: #0E1525;
  --clr-light: white;
  --clr-green: #025b3a;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --clr-sidemenu: #0E1525;
  --clr-toggle: white;
  --footer:#a4a57e;
  --img-slider:rgb(34 98 77);
  --box-shad: rgba(255, 255, 255, 0.4);
  --filters-container-background: #444040;
}
::selection{
  background-color: rgb(11, 170, 11);
  color: white;
}

/* html.darkmode{
  color-scheme: dark;
} */

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

label {
  padding: 14px 20px;
  margin: 8px 0;
  size: 40px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.input-valid {
  background-color: #bfdbcd;
}

.input-invalid {
  background-color: rgb(199, 163, 163);
}

.error-message {
  color: red; /* Set text color to red */
  font-size: 14px; /* Adjust font size */
  margin-top: 4px; /* Add some space between input and error message */
  font-weight: bold;
}

.user-type-button {
  padding: 8px 16px; /* Add padding to the buttons */
  margin-right: 8px; /* Add margin between buttons */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 4px; /* Add border radius for rounded corners */
  /* background-color: #bfdbcd; */
}

.user-type-button:focus {
  outline: none; /* Remove focus outline */
}

.user-type-button.selected {
  background-color: #6ea86e; /* Green background for selected button */
  color: white; /* White text color for better visibility */
  font-weight: bold;
}

.required-fields {
  color: red;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
}

.popup-content {
  text-align: center;
}

.popup button {
  margin-top: 10px;
}

.nav-buttons {
  display: block;
  /*  display: inline-block;
*/
  width: auto;
  margin-right: 5px;
}

.nav button,
.Loginbutton {
  display: inline-block;
  border-radius: 300%;
  margin-right: 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.electronics_button {
  background-color: transparent;
  color: #000;
  width: fit-content;
}

.electronics-box {
  row-gap: 10px;
  column-gap: 10px;
}

.electronics_img {
  width: 100%;
}

.electronic-iten {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

/*hides ckeckbox that is used to*/
#sidebar-active {
  display: none;
}
#account-active {
  display: none;
}
/*reminder to move gap space8*/
#footer {
  background-color: var(--footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 25px;
}


#footer li {
  list-style: none;
  text-decoration: none;
}

#footer a {
  text-decoration: none;
  color: black;
  overflow: hidden;
}
* {
  margin: 0px;
}

.nav {
  background-color: #0d704c;
}
.nav ul {
  position: relative;
}
.nav ul li {
  list-style: none;
  position: relative;
  color: black;
}
.nav ul li a {
  text-decoration: none;
}
.nav ul ul {
  display: block;
  position: absolute;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
#container {
  min-height: 100%;
  min-width: 100%;
}
#footer h2 {
  text-align: center;
  color: black
}
#footer ul li{
  position: relative;
}
#footer ul li::after{
  content: "";
  height: 3px;
  width: 0%;
  background: var(--clr-green);
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: 0.5s;
}
#footer ul li:hover::after{
  width: 100%;
}

.user-avatar {
  border-radius: 50%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.basket-user-container:hover .dropdown-menu {
  display: block;
}

.logout-button {
  width: 80px;
}

.basket-user {
  display: flex;
  align-items: center;
  position: relative;
}

.fa-user {
  color: white;
  border-color: transparent;
  border-radius: 50%;
}
.fa-user:hover {
  color: rgb(83, 77, 77);
  border-color: white;
  cursor: pointer;
}

.fa-cart-shopping {
  color: white;
  border-color: white;
  border-radius: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.fa-cart-shopping:hover {
  color: rgb(83, 77, 77);
  border-color: white;
  cursor: pointer;
}
.fa-bars {
  color: white;
  padding: 5px 5px 5px 5px;
}
.fa-bars:hover {
  background-color: #5fdeaf;
  cursor: pointer;
}
/* positions and animates xmark */
.fa-xmark{
  position: absolute;
  top: 5px;
  right: 5px;
  transition: transform 1s ease 0.2s;
  color: #000;
}
.fa-xmark:hover{
  transform: rotate(180deg);
}
.close-sidebar-button:hover .fa-xmark{
  transform: rotate(360deg);
  color: white;
}

.side-menu .close-sidebar-button {
  cursor: pointer;
}
.side-menu .close-sidebar-button:hover {
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  left: -100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  transition: left 0.5s ease-out;
}
#sidebar-active:checked ~ .side-menu {
  display: flex;
}

.sub-menu {
  display: none;
  flex-direction: column;
  background-color: #f9f9f9;
  padding-left: 20px;
}

.open-sidebar-button {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  /* position: fixed; */
  top: 10px;
  left: 10px;
  /* z-index: 1000; */
}

.logo:hover{
  cursor: pointer;
}
.logo a {
  color: white;
  font-weight: 600;
  font-size: 35px;
  text-decoration: none;
  background: linear-gradient(to right, yellow, red);
  background-clip: text;
  color: transparent;
}

.logo {
  margin: 10px;
}
.searchbar {
  background-color: white;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.searchbar .navsearchbar {
  margin: 0;
  border-style: hidden;
  width: 300px;
}
.searchbar .navsearchbar:focus {
  outline: none;
}

.searchbar button {
  /*background: none;*/
  border-radius: 0;
  width: 2rem;
  margin: 0;
}

.fa-search {
  color: #000;
}

#overlay{
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  display: none;
  z-index: 9;
  margin-top: 0;
}

.close-sidebar-button {
  color: white;
  align-self: center;
  background-color: black;
  width: 100%;
  font-size: 25px;
  font-weight: 20;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 14px;
}
.side-menu-title{
  font-family: 'Coyote', sans-serif;
}
.sl li a {
  margin: 0 8px 0 6px;
  padding: 0 0 0 5px;
  display: block;
  border-radius: 5px;
  font-size: 30px;
  text-decoration: none;
  color: #000;
}

.sl li a:hover {
  width: auto;
  cursor: pointer;
  background-color: rgb(25, 173, 8);;
  color: white;
}

ul.sl {
  width: 100%;
  padding-left: 0;
  margin-left: 0;
}

.container button {
  border-radius: 0;
}


.dropdown-container {
	display: inline-block;
	padding: 10px;

	.dropdown {
		position: relative;

		&[open] .with-down-arrow::after {
			content: "\e5c7";
      background-color: #04aa6d;
		}

		&[open] summary {
			background: #ffffff10;
		}

		summary {
			list-style: none;
			display: inline-block;
			cursor: pointer;
			border-radius: 6px;

			&.avatar {
				border-radius: 50px;

				img {
					width: 40px;
					height: 40px;
					border-radius: 50px;
					display: inline-block;
					margin: 0;
				}
			}

			.with-down-arrow {
				display: inline-flex;
				padding: 5px;
				align-items: center;
				color: #fff;
				line-height: 1;

				&::after {
					content: "\e5c5";
					font-family: "Material Symbols Outlined";
					font-weight: normal;
					font-style: normal;
					font-size: 1.5rem;
					line-height: 1;
					letter-spacing: normal;
					text-transform: none;
					display: inline-block;
					white-space: nowrap;
					word-wrap: normal;
					direction: ltr;
					-webkit-font-smoothing: antialiased;
				}
			}
		}

		&.left ul {
			left: 0;
		}

		&.right ul {
			right: 0;
		}

		ul {
			padding: 0;
			margin: 0;
			box-shadow: 0 0 10px #00000030;
			min-width: max-content;
			position: absolute;
			top: 100%;
			border-radius: 10px;
			background-color: #fff;
			z-index: 2;

			li {
				list-style-type: none;
				display: block;
				/* If you use divider & borders, it's best to use top borders */
				/*border-top: 1px solid #ccc;*/

				&:first-of-type {
					border: none;
					background-color: lightgray;
				}

				p {
					padding: 10px 15px;
					margin: 0;
				}

				a {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					padding: 10px 15px;
					text-decoration: none;
					line-height: 1;
					color: black;

					&:hover {
						color: black;
					}
				}

				&:first-of-type {
					border-radius: 10px 10px 0 0;
				}

				&:last-of-type {
					border-radius: 0 0 10px 10px;
				}

				&.divider {
					border: none;
					border-bottom: 1px solid black;

					/* 
					 * removes border from Li after the divider element
					 * best used in combination with top borders on other LIs 
					 */
					& ~ li {
						border: none;
					}
				}
			}
		}
	}
}

.user-avatar-buttons{
  background-color: transparent;
}

.user-type-container{
  /* width: 100px; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}

.avatar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: row;
}

.user-avatar-select{
  border-radius: 50%;
  height: 60px;
}

@media (max-width: 650px){
  
  .logo a{
    font-weight: 600;
    font-size: 20px;
  }
  .searchbar .navsearchbar{
    margin: 0;
    border-style: hidden;
    width: 200px;
  }
  .nav button, .Loginbutton{
    display: none;
    
  }
  .nav ul {
    padding-left: 10px;
  }
  
}

/* Electronics Page */

.electronics {
  padding: 20px;
}

.electronics-box {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.electronic-item {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.electronics_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: all 0.6s;
}

.electronics_button:hover {
  background-color: #45a049;
  transform: scale(1.1);
  opacity: 1;
}


.electronics_info {
  padding: 20px;
}

.electronics_info p {
  margin: 8px 0;
}

.electronics_img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .electronic-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .electronic-item {
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .electronic-item {
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: auto;
  }
}

/* Electronics Device */

.electronic-device {
  text-align: center;
  margin: 5% auto 5% auto; 
  padding: 20px;
  max-width: 500px; 
  background-color: #f7f7f7; 
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shad);
}

.electronic-device img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.electronic-details {
  text-align: center;
}

.electronic-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.electronic-details h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.electronic-details p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #777;
  line-height: 1.5;
}



.main-contain{
  display: flex;
}
.device-stats{
  margin-top: 5%;
  margin-right: 5%;
}
.device-type{
  color: #9c9797;
  font-size: 40px;
  text-decoration: underline;
}

.capacity span{
  font-size: 20px;
}
.capacity  .capacity-title{
  margin-bottom: 12px;
}
.quantity .quauntity-title{ 
  margin-bottom: 10px;
}
.capacity{
  margin-bottom: 18px;
  margin-top: 32px;
}
.storage-sector{
  text-align: center;
}
.device-storage{
  border: 4px solid #ffc700;
}

/*About us*/

.about-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.about-content {
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shad);
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.about-content h2 {
  color: var(--foreground);
  font-size: 28px;
  margin-bottom: 20px;
}

.about-content p {
  color: var(--foreground);
  font-size: 16px;
  line-height: 1.6;
}

.about-content a {
  color: #0073e6;
  text-decoration: none;
}

.about-content a:hover {
  text-decoration: underline;
}

.about-content .section {
  margin-top: 30px;
}

.about-content h3 {
  color: var(--foreground);
  font-size: 22px;
  margin-top: 20px;
}

.about-content h3 + p {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .about-content h2 {
      font-size: 24px;
  }
  
  .about-content p {
      font-size: 14px;
  }
  
  .about-content h3 {
      font-size: 18px;
  }
}

/*T&C*/


body {
    font-family: 'Roboto', sans-serif;
    color: var(--foreground);
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

.terms-container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: var(--background);
    color: var(--foreground);
    box-shadow: 0 0 20px var(--box-shad);
    border-radius: 10px;
}
.terms-container h2{
  color:var(--foreground);
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--foreground);
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--foreground);
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}

ul li {
  font-size: 16px;
  line-height: 1.6;
    
}

/*Support*/

.support-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.support-container h1 {
  text-align: center;
  color: var(--foreground);
}

.support-container p {
  text-align: center;
  margin-bottom: 20px;
}

.support-form {
  display: flex;
  flex-direction: column;
}
.support-form label{
  padding: 0;
}
input,
textarea{
  outline: none;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #45a049;
}

.about h2{
  margin-left: 40px;
}

.support h2{
  margin-left: 60px;
}

.legal h2{
  margin-right: 25px;
}


/* Basket item container */
.basket-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* Image */
.basket-item img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  margin-right: 20px;
}

/* Text content */
.basket-item p {
  margin: 0;
}

/* Price */
.basket-item .price {
  font-weight: bold;
  color: green;
}

/* Quantity */
.basket-item .quantity {
  margin-left: auto; /* Pushes quantity to the right */
}

/* .form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select,
.form-container textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}
*/

.form-container {
  min-width: 400px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Center vertically */
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container label {
  margin-bottom: 10px;
  padding: 0;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select,
.form-container textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; /* Take up full width */
}

.form-container button {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%; /* Take up full width */
}

.form-container button:hover {
  background-color: #0056b3;
}

/*new method to make footer stick to bottom*/
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#footer {
  margin-top: auto;
}


.sale-btns{
  margin-top: 20px;
}
.sale-btns .buy-btn{
  border: .1rem solid #000000;
  background-color: whitesmoke;
  color: #000;
}
.sale-btns .buy-btn:hover{
  background-color: wheat;
}


#side-menu-bottom {
  margin-top: auto;
  width: 100%;
  border-top: solid 2px black;
  background-color: #ddd;
}
#side-menu-settings-container {
  margin-top: auto;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 7px;
}
#side-menu-settings {
  padding: 5px 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#dmt-toggle {
  display: flex;
  margin: 0px 0 0 0;
  background-color: var(--background);
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}
.DM-btn {
  align-items: center;
  width: 40px;
  height: 39px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: wheat;
  margin: 5px 0px 5px 15px;
}
.fa-sun {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 40px;
  color: var(--background);
}
.fa-right-from-bracket:before{
  color: #000;
}
.DM-toggle-text {
  display: inline-block;
  margin: auto 0 auto 15px;
}
#side-menu-settings #dmt-toggle #DM-toggle-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 60px;
}
#DM-toggle-switch .switch {
  height: 22px;
  width: 50px;
  position: relative;
  border-radius: 25px;
  background-color: var(--clr-toggle);
  cursor: pointer;
}
.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-51%);
  background-color: var(--background);
  transition: all ease 0.5s;
}
.darkmode .switch::before{
  left: 30px;
}
#side-menu-logout{
  cursor: pointer;
  background-color: #bbb8b8;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 16px 0 16px 0;
}
#side-menu-logout span{
  margin-left: 20px;
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  color: black;
}
#side-menu-logout i{
  margin-left: 25px;
}

/* utility class for external links */
.extrnal-link{
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.extrnal-link::after{
  font-family: 'Font Awesome 6 Free';
  content: "\f0c1";
  margin-left: 5px;
}
.extrnal-link:hover{
  color: #7dff31;
}


.electronics-epithet{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.electronics-epithet p{
  margin-bottom: 0;
}
.electronics_button-icon{
  margin-right: 10px;
}

.electronic-device-epithet{
  display: flex;
  align-items: center;
  margin-bottom: 24px
}
.electronics_device-icon{
  margin-right: 16px;
  color: #e5dada;
  cursor: pointer;
}

.sale-form label{
  padding: 0;
}
.sale-form-container h1{
  text-align: center;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--filters-container-background);
  padding: 10px 20px;
  box-shadow: 0 2px 4px var(--box-shad);
  margin-bottom: 20px;
}

.filter-group {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.filter-group p {
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
  /* color: #000; */
}

.dropdown-content select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-content select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}